<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="resources.mapper.support.SupportMapper">

<!-- 이메일 -->
<insert id="saveEmail" parameterType="EmailDto" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO email (
        sender,
        subject,
        content,
        sent_at,
        status,
        error_message
    ) VALUES (
        #{sender},
        #{subject},
        #{content},
        #{sentAt},
        #{status},
        #{errorMessage}
    )
</insert>


</mapper>