
#movie-actor-search-wrap{
	width:1200px;
	height:auto;
	background-color:aqua;
	margin:0 auto;
}

#movie-actor-main{
	width:1200px;
	height:auto;
	background-color:aliceblue;
	margin:0 auto;
}

#movie-actor-main>h1{
	width:95%;
	margin:0 auto;
	font-size:30px;
	text-align:center;
	background-color:#777;
	padding:10px 0px;
	box-sizing:border-box;
}
#movie-actor-search-box{
	width:95%;
	height:60px;
	margin:0 auto;
	background-color:#888;
	padding:10px 0px;
	box-sizing:border-box;
	text-align:center;
}
#movie-actor-search-box > input,
#movie-actor-search-box > button {
  vertical-align: middle;
}
#movie-actor-search-box > button:hover {
  background-color:#999;
  cursor:pointer;
}
#movie-actor-search-box>input {
	display:inline-block;
	height:40px;
	border-radius:10px;
	padding-left:10px;
	box-sizing:border-box;
}
#movie-actor-search-box>button {
	display:inline-block;
	width:100px;
	height:40px;
	border-radius:10px;
}
#movie-search-box>button:hover{
	cursor:pointer;
	background-color:#888;
}

#movie-actor-search-result {
	width:95%;
	height:auto;
	background-color:#777;
	margin:0 auto;
	box-sizing: border-box;
}
#movie-actor-search-result>img{
	display:block;
	margin:0 auto;
}


#movie-actor-search-result>p:nth-child(2){
	text-align:center;
}

#movie-actor-search-result>div{
	display:inline-block;
}
.people-item {
	display:inline-block;
	width: calc(24% - 15px);
	height:400px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 6px;
	padding: 10px;
	box-sizing: border-box;
	position:relative;
	margin:10px;
	text-decoration:none;
	color: inherit;
	transition: transform 0.3s;
}
.people-item:hover{
	cursor:pointer;
	background-color: #999;
	transform: translateY(-6px);
}

.people-item img {
	display:block;
	margin:0 auto;
	width: 200px;
	height:300px;
	border-radius: 6px;
	margin-bottom: 8px;
}
.people-item>p{
	text-align:center;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.people-item>p:first-child{
	margin:6px 0 2px;
	font-weight:bold;
	color:gray;
	font-size:16px;
}
.people-item>p:nth-child(2){
	margin:0;
	color:gray;
	font-size:14px;
}

#pagination {
	display:block;
	width:90%;
	height:100px;
	background-color:cadetblue;
	margin:0 auto !important;
	text-align: center;
	margin: 20px 0;
	padding:10px 0px;
	box-sizing:border-box;
}

.page-btn{
	display:inline-block;
	width:50px;
	height:50px;
	border-radius:10px;
	text-align:center;
	padding:10px;
	box-sizing:border-box;
	margin:5px;
}

.page-btn:hover{
	cursor:pointer;
	background-color:#777;
}

.active{
	background-color:#777;
}

